<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <a href="/user/loadDashboard">
                    <i class="menu-icon ti-menu-alt"></i>
                    <span>User Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-wallet"></i>
                    <span>Manage Booking</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/user/loadBooking">Add Booking</a>
                    </li>
                    <li>
                        <a href="/user/viewBooking">View Booking</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-user"></i>
                    <span>Manage Profile</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/user/editProfile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/user/viewProfile">View Profile</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/user/complaint">
                    <i class="menu-icon ti-receipt"></i>
                    <span>Manage Complaint</span>
                </a>
            </li>
            <li>
                <a href="/user/feedback">
                    <i class="menu-icon ti-write"></i>
                    <span>Manage Feedback</span>
                </a>
            </li>
            <li>
                <a href="/user/loadEditPassword">
                    <i class="menu-icon ti-credit-card"></i>
                    <span>Edit Password</span>
                </a>
            </li>
            <li>
                <a href="/admin/logoutSession">
                    <i class="menu-icon ti-lock"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>
