<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="shortcut icon" href="../../static/assets/img/favicon.ico" type="image/x-icon" />

    <title>Smart Travelling</title>    <!-- Favicon-->
    <!-- Plugins Core Css -->
    <link href="../../static/assets/css/app.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="../../static/assets/css/style.css" rel="stylesheet">
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="../../static/assets/css/all-themes.css" rel="stylesheet"/>
</head>

<body class="light loader-active">
<!-- Page Loader -->
 <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="../../static/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<!-- Top Bar -->


<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="" onClick="return false;" class="bars"></a>
            <a class="navbar-brand" href="" onClick="return false;">
                <span class="logo-name">Hello Admin!</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="" onClick="return false;" class="sidemenu-collapse">
                        <i class="nav-hdr-btn ti-align-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Full Screen Button -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="breadcrumb breadcrumb-style ">
                                <li class="breadcrumb-item">
                                    <h2 class="breadcrumb-item">Add Driver</h2>
                                </li>
                            </p>
                        </div>
                <!-- #END# Full Screen Button -->
                <!-- #START# Notifications-->

                <!-- #END# Notifications-->

                <!-- #END# Tasks -->
            </ul>
        </div>
    </div>
</nav>



<!-- #Top Bar -->
<div>
    <!-- Left Sidebar -->


    {% include 'admin/menu.html' %}


    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <!-- #END# Right Sidebar -->
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <form class="login100-form validate-form" enctype="multipart/form-data" action="/admin/insertDriver" method="POST">
                            <div class="wrap-input100 validate-input" data-validate="Name is required">
                                <span class="label-input100">Name</span>
                                <input class="input100" type="text" name="driverName" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter valid email address">
                                <span class="label-input100">Email</span>
                                <input class="input100" type="email" name="driverEmail" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="form-group form-float">
                                <label class="form-label">Image</label>
                                <div class="form-line">
                                    <input type="file" class="form-control" name="file" required>
                                </div>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter valid mobile number">
                                <span class="label-input100">Mobile</span>
                                <input class="input100" type="tel" placeholder="10 digit without country code" name="driverMobile" pattern="[0-9]{10}" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Address is required">
                                <span class="label-input100">Address</span>
                                <input class="input100" type="text" name="driverAddress" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="form-group form-float">
                                <label class="form-label">Gender</label>
                                <div class="form-line">
                                    <select name="driverGender" class="form-control" required>
                                        <option value="">Select Gender</option>
                                        <option value="Male" >Male</option>
                                        <option value="Female" >Female</option>
                                        <option value="Other" >Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter valid Price">
                                <span class="label-input100">Price/Day</span>
                                <input class="input100" type="number" name="driverPrice" step="1" min="1" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter valid Price">
                                <span class="label-input100">Price/ExtraDay</span>
                                <input class="input100" type="number" name="driverExtraDayPrice" step="1" min="1" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input" >
                                <span class="label-input100">Driving License Number</span>
                                <input class="input100"  name="driverLicenseNumber" type="text" required>
                                <span class="focus-input100"></span>
                            </div>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit">
                                    Add Driver
                                </button>
                            </div>
                            <div class="text-center p-t-45 p-b-20">
                                {% if error %}
                                    {{ error }}
                                {% else %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Plugins Js -->
<script src="../../static/assets/js/app.min.js"></script>
<script src="../../static/assets/js/table.min.js"></script>
<!-- Custom Js -->
<script src="../../static/assets/js/admin.js"></script>
<script src="../../static/assets/js/jquery-datatable.js"></script>
<!-- Demo Js -->
</body>

</html>