<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="shortcut icon" href="../../static/assets/img/favicon.ico" type="image/x-icon" />

    <title>Smart Travelling</title>    <!-- Favicon-->
    <!-- Plugins Core Css -->
    <link href="../../static/assets/css/app.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="../../static/assets/css/style.css" rel="stylesheet">
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="../../static/assets/css/all-themes.css" rel="stylesheet"/>
</head>

<body class="light loader-active">
<!-- Page Loader -->
 <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="../../static/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<!-- Top Bar -->


<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="" onClick="return false;" class="bars"></a>
            <a class="navbar-brand" href="" onClick="return false;">
                <span class="logo-name">Hello Admin!</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="" onClick="return false;" class="sidemenu-collapse">
                        <i class="nav-hdr-btn ti-align-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Full Screen Button -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="breadcrumb breadcrumb-style ">
                                <li class="breadcrumb-item">
                                    <h2 class="breadcrumb-item">Edit Complaint</h2>
                                </li>
                            </p>
                        </div>
                <!-- #END# Full Screen Button -->
                <!-- #START# Notifications-->

                <!-- #END# Notifications-->

                <!-- #END# Tasks -->
            </ul>
        </div>
    </div>
</nav>



<!-- #Top Bar -->
<div>
    <!-- Left Sidebar -->


    {% include 'admin/menu.html' %}


    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <!-- #END# Right Sidebar -->
</div>

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <form id="form_validation" enctype="multipart/form-data" action="/admin/updateComplaint" name="form1" method="POST">

                            {%for row in complaintVOList%}

                            <input type="hidden" name="complaintId" value="{{row['complaintId']}}">

                            <input type="hidden" name="complaintFrom_LoginId" value="{{row['complaintFrom_LoginId']}}">

                            <div class="form-group form-float">
                                <label class="form-label">Complaint Subject</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="complaintSubject" value="{{row['complaintSubject']}}" readonly required>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <label class="form-label">Complaint Description</label>
                                <div class="form-line">
                                    <textarea name="complaintDescription" cols="30" rows="5" class="form-control no-resize" readonly required>{{row['complaintDescription']}}</textarea>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <label class="form-label">Complaint Reply</label>
                                <div class="form-line">
                                    <textarea name="complaintReply" cols="30" rows="5" class="form-control no-resize" required>{{row['complaintReply']}}</textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect" type="submit">UPDATE</button>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Plugins Js -->
<script src="../../static/assets/js/app.min.js"></script>
<script src="../../static/assets/js/table.min.js"></script>
<!-- Custom Js -->
<script src="../../static/assets/js/admin.js"></script>
<script src="../../static/assets/js/jquery-datatable.js"></script>
<!-- Demo Js -->
</body>

</html>