<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <a href="/admin/loadDashboard">
                    <i class="menu-icon ti-menu-alt"></i>
                    <span>Admin Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/admin/viewBooking">
                    <i class="menu-icon ti-wallet"></i>
                    <span>Manage Booking</span>
                </a>
            </li>
            <li>
                <a href="/admin/viewDiscount">
                    <i class="menu-icon ti-agenda"></i>
                    <span>Manage Discount</span>
                </a>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-id-badge"></i>
                    <span>Manage Driver</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/admin/loadDriver">Add Driver</a>
                    </li>
                    <li>
                        <a href="/admin/viewDriver">View Driver</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-car"></i>
                    <span>Manage Vehicle</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/admin/loadVehicle">Add Vehicle</a>
                    </li>
                    <li>
                        <a href="/admin/viewVehicle">View Vehicle</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/viewInquiry" >
                    <i class="menu-icon ti-info-alt"></i>
                    <span>Manage Inquiry</span>
                </a>
            </li>
            <li>
                <a href="/admin/viewComplaint">
                    <i class="menu-icon ti-receipt"></i>
                    <span>Manage Complaint</span>
                </a>
            </li>
            <li>
                <a href="/admin/viewFeedback">
                    <i class="menu-icon ti-write"></i>
                    <span>Manage Feedback</span>
                </a>
            </li>

            <li>
                <a href="/admin/loadEditPassword">
                    <i class="menu-icon ti-credit-card"></i>
                    <span>Edit Password</span>
                </a>
            </li>
            <li>
                <a href="/admin/logoutSession">
                    <i class="menu-icon ti-lock"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>
